@include respond-to(tablet-desktop) {
	html, body, .spacer {
		height: 100%;
	}
	body {
		background: $blue-1-color;
	}
	.bg {
		@include linear-gradient($blue-1-color, $blue-2-color);
	}
	.hide,
	.hidden {
		display: block;
		position: absolute;
		height: 0;
		overflow: hidden;
		@include opacity(0);
		left: -100%;
	}
	header {
		z-index: 0;
		position: fixed;
		height: 100%;
		background: transparent;		
		hgroup {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			height: 0;
		}
		h1, h2, h3 {
			padding: 0;
		}
		h1 {
			font-weight: 100;
			margin-top: -50px;
			@include rem(52);
			color: #ccc;
			strong {
				color: #fff;
			}			
		}
		h2, h3 {
			@include opacity(.5);
		}
	}
	nav {
		background: rgba(0,0,0,.3);
		// position: absolute;
		margin-bottom: 0px;
		z-index: 3;
		text-align: center;
		ul li {
			a {
				color: $nav-link-color;
				background: $blue-2-color;
				display: block;
				padding: 10px 0;
				// border-bottom: 1px solid rgba($body-bg-color, .2);
				&.active,
				&:hover {
					border-color: rgba($link-color, .6);
				}
			}
		}
	}
	
	main {
		background: $body-bg-color;
		position: relative;
		z-index: 1;
		display: block;
		padding-top: 25px;
		padding-bottom: 60px;
		max-width: none;		
		div.skill {
			@include col(4);
		}
		#about {
			ul li {
				margin-top: 8px;
			}
		}
		#contact {
			h3 {
				float: left;
			}
			label {
				clear: both;
			}			
		}
		.social {
			float: right;
			margin: 2em 0;
			a {
				display: inline-block;
				vertical-align: top;
				zoom: 1;
				*display: inline;
				padding-left: 10px;
				em {
					@include rem(15);
				}
			}
		}
		section {
			padding-top: 60px;
			width: 100%;
		}
		#projects ul li.project {
			float: left;
			width: 100%;
			clear: both;
			padding: 100px 0;
			.details {
				@include col(5);
			}
			.screenshots {
				@include col(7);
				ul {				
					float: left;
					height: 550px;
					width: 100%;
					// overflow: hidden;
					li {
						position: relative;
						img {
							position: absolute;
							display: block;
							float: left;
							left: 0;
							top: 0;
							// @include opacity(0);
							@include transition(all 1s ease);
						}
						&.active {
							img {
								@include opacity(1);
							}
						}
					}
				}
			}
		}
	}
}