@font-face {
    font-family: 'aileronultralight';
    src: url('#{$base-host}/font/aileron-ultralight-webfont.eot');
    src: url('#{$base-host}/font/aileron-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base-host}/font/aileron-ultralight-webfont.woff') format('woff'),
         url('#{$base-host}/font/aileron-ultralight-webfont.ttf') format('truetype'),
         url('#{$base-host}/font/aileron-ultralight-webfont.svg#aileronultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aileronregular';
    src: url('#{$base-host}/font/aileron-regular-webfont.eot');
    src: url('#{$base-host}/font/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base-host}/font/aileron-regular-webfont.woff') format('woff'),
         url('#{$base-host}/font/aileron-regular-webfont.ttf') format('truetype'),
         url('#{$base-host}/font/aileron-regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aileronheavy';
    src: url('#{$base-host}/font/aileron-heavy-webfont.eot');
    src: url('#{$base-host}/font/aileron-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base-host}/font/aileron-heavy-webfont.woff') format('woff'),
         url('#{$base-host}/font/aileron-heavy-webfont.ttf') format('truetype'),
         url('#{$base-host}/font/aileron-heavy-webfont.svg#aileronheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}