@include respond-to(mobile-tablet) {
	header {
		.cover {
			display: none;
		}
	}
	nav {
		@include rem(12);
	}
	div.panel {
		top: 0;
		padding: 10px 20px;
	}
	section.jennapp {
		background: #000 url('/img/portfolio/jennapp-mobile.jpg') no-repeat center;
		background-size: cover;
		background-position: fixed;
		p.buttons {
			text-align: center;
		}
	}
	section.galleryapi {
		background: #000 url('/img/portfolio/galleryapi-mobile.jpg') no-repeat center;
		background-size: cover;
		background-position: fixed;
	}
}