
// $base-host: "http://localhost/alexshive";
// $base-host: "http://d3v5jb74cvjqkf.cloudfront.net";
$base-host: "http://assets.alexshive.com";

$body-bg-color: #f1f1f1;

$font-color: darken($body-bg-color, 60%);
$nav-link-color: darken($body-bg-color, 20%);
$nav-link-hover: lighten($nav-link-color, 20%);

$link-color: #349ADF;
$link-hover: $link-color;

$header-gradient-top: #414141;
$header-gradient-bottom: #000;

$header-color: $body-bg-color;

$padding: 25px;

/*********************
BASE SIZE
*********************/

$base-font-size: 18;

/*********************
TYPOGRAPHY
*********************/

$sans-serif:        "aileronultralight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

$body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-weight: 300;

$line-height: ($base-font-size + ($base-font-size / 2)) + px;

$footer-font-family: $sans-serif;
$footer-line-height: ($base-font-size) + px;

$nav-font-family: $sans-serif;

$h1-font-size: $base-font-size * 3;
$h1-font-family: $sans-serif;

$h2-font-size: $base-font-size * 1;
$h2-font-family: sans-serif;

$h3-font-size: $base-font-size * 1.5;
$h3-font-family: $body-font-family;

$h4-font-size: $base-font-size * .9;
$h4-font-family: $body-font-family;

/*********************
BUTTONS
*********************/

$btn-bg-color: #000;
$btn-text-color: #eee;

$btn-bg-hover: #333;
$btn-text-hover: #fff;

