.about {
	.bg {
		@include opacity(.2);
		background-image: url('/images/bg-about.jpg');
	}
	.me {
		position: relative;
		overflow: hidden;
		width: 250px;
		height: 250px;
		@include border-radius(100%);
		img {
			position: relative;
			top: 0px;
			left: 0;
			width: 270px;
		}
	}
	.skills {
		padding: 30px 0;
		clear: both;
		ul {
			padding: 0px 20px;
			li {
				margin-bottom: 10px;
			}
		}
	}
}