.about {
	.bg {
		@include opacity(.2);
		background-image: url('/images/bg-about.jpg');
	}
	.me {
		text-align: center;
		img {
			position: relative;
			width: 100%;
			max-width: 200px;
			@include border-radius(100%);
		}
	}
	.skills {
		padding: 30px 0;
		clear: both;
		ul {
			padding: 0px 20px;
			li {
				margin-bottom: 10px;
			}
		}
	}
}