nav {
	position: absolute;
	top: 0;
	width: 100%;
	background: #000;
	padding: 10px;
	z-index: 99;
	&.show {
		position: fixed;
	}
	strong {
		float: left;
		font-weight: 300;
		font-size: 32px;
		padding: 10px 20px;
	}
	ul {
		float: right;
		li {
			list-style: none;
			display: inline-block;
			a {
				padding: 10px;
			}
			&.active a {
				background: #fff;
				color: #000;
			}
		}
	}
}