.intro {
	.start {
		position: absolute;
		z-index: 2;
		margin: auto;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 400px;
		text-align: center;
		h1 {
			@include rem(72);
		}
		h2 {
			@include rem(32);
		}
		h3 {
			@include rem($base-font-size);
			font-weight: 300;
			@include opacity(.5);
		}
	}
	ul {
		padding: 0 15px;
		li {
			list-style: none;
			display: block;
			padding: 5px 0;
		}
	}
	.bg {
		background-image: url('/images/bg-sf.jpg');
	}
	.launch {
		ul {
			text-align: center;
			li {
				display: inline-block;
				a {
					padding: 8px 15px;
					@include border-radius(10px);
					border: 1px solid #fff;
					&:hover {
						background: #fff;
						color: #333;
					}
				}
			}
		}
	}
}