.overlay {
	background: url('/images/bg-beauty.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include opacity(.8);
}
main {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	min-height: 100%;
	.intro, .skills, .about {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.skills, .about {
		padding-top: 100px;
		background: #000;
		background: rgba(0,0,0,.7);
	}
	.about {
		.me {
			position: relative;
			overflow: hidden;
			width: 250px;
			height: 250px;
			@include border-radius(100%);
			margin: 18% 0;
			img {
				position: relative;
				top: -10px;
				left: 0;
				width: 270px;
			}
		}
	}
	.intro {
		padding: 25px 0;
		z-index: 99;
		ul {
			padding: 0 15px;
			li {
				list-style: none;
				display: block;
				padding: 5px 0;
			}
		}
		.btn {
			border: 1px solid #fff;
			&:hover, &:active {
				background: #fff;
				background: rgba(255,255,255,.6);
			}
			&:link {
				-webkit-tap-highlight-color: #fff;
			}
		}
	}
}