
// $base-host: "http://localhost/alexshive";
// $base-host: "http://d3v5jb74cvjqkf.cloudfront.net";
// $base-host: "http://assets.alexshive.com";

$body-bg-color: #000;

$font-color: #fff;

$link-color: #eee;
$link-hover: #fff;

$padding: 25px;

/*********************
BASE SIZE
*********************/

$base-font-size: 18;

/*********************
TYPOGRAPHY
*********************/

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

$body-font-family: $sans-serif;
$body-font-weight: 300;

$line-height: ($base-font-size + ($base-font-size / 2)) + px;

$footer-font-family: $sans-serif;
$footer-line-height: ($base-font-size) + px;

$nav-font-family: $sans-serif;

$h1-font-size: $base-font-size * 3;
$h1-font-family: $sans-serif;

$h2-font-size: $base-font-size * 2.5;
$h2-font-family: sans-serif;

$h3-font-size: $base-font-size * 2;
$h3-font-family: $body-font-family;

$h4-font-size: $base-font-size * 1.5;
$h4-font-family: $body-font-family;


