.wave {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 0 0 50% 50%;
  border: 0px;
  margin: 0 -2px;
}

.v-wave-l {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 40px;
  border-radius: 0 0 80px 0;
  border: 0px;
  margin: 0 -2px;
}

.v-wave-r {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 40px;
  border-radius: 0 0 0 80px;
  border: 0px;
  margin: 0 -2px;
}

.row-one {
  position: relative;
  top: -340px;
  padding: 0 2px;
  -webkit-animation: slidein 2.5s infinite alternate;
  -moz-animation: slidein 2.5s infinite alternate;
  animation: slidein 2.5s infinite alternate;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
  }
  
  to {
    margin-left: 40px;
    width: 100%;
  }
}

@-moz-keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
  }
  
  to {
    margin-left: 40px;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
  }
  
  to {
    margin-left: 40px;
    width: 100%;
  }
}

.row-one .wave,
.row-one .v-wave-l {
  background: #95b2c8;
}

.row-two {
  position: relative;
  top: -388px;
  padding: 0 2px;
  margin-left: 40px;
  z-index: -1;
}

.row-two .wave,
.row-two .v-wave-l,
.row-two .v-wave-r {
  background: #008ed3;
}

.row-three {
  position: relative;
  top: -436px;
  padding: 0 2px;
  margin-left: 40px;
  z-index: -2;
  -webkit-animation: slideout 3s infinite alternate;
  -moz-animation: slideout 3s infinite alternate;
  animation: slideout 3s infinite alternate;
}

@-webkit-keyframes slideout {
  from {
    margin-left: 40px;
    width: 100%;
  }
  
  to {
    margin-left: 0px;
    width: 100%;
  }
}

@-moz-keyframes slideout {
  from {
    margin-left: 40px;
    width: 100%;
  }
  
  to {
    margin-left: 0px;
    width: 100%;
  }
}


@keyframes slideout {
  from {
    margin-left: 40px;
    width: 100%;
  }
  
  to {
    margin-left: 0px;
    width: 100%;
  }
}

.row-three .wave,
.row-three .v-wave-r {
  background: #0082c9;
}

.row-four {
  position: relative;
  top: -484px;
  padding: 0 2px;
  margin-left: 40px;
  z-index: -3;
}

.row-four .wave,
.row-four .v-wave-l,
.row-four .v-wave-r {
  background: #006db8;
}

.row-five {
  position: relative;
  top: -532px;
  padding: 0 2px;
  z-index: -4;
  -webkit-animation: slidein 3.5s infinite alternate;
  -moz-animation: slidein 3.5s infinite alternate;
  animation: slidein 3.5s infinite alternate;
}

.row-five .wave,
.row-five .v-wave-l {
  background: #0058a8;
}

.row-six {
  position: relative;
  top: -580px;
  background: #0c4ba0;
  height: 80px;
  width: 400px;
  margin-left: 40px;
  z-index: -5;
}