<div class="intro">
  <h1>Hello</h1>
  <p>My name is Alex Shive. I'm a bay area resident, a graduate from Cal State East Bay, and a forward thinker. I've currently accumilated over 12 years of experience as a front end developer, graphic designer, and engineer. I've enjoyed every moment of it and waking up to new possibilities. I enjoy a challenge and am always up to the task of problem solving as the web evolves. I strive to learn new web technology as it continuously evolves.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Resume</a></p>
</div>