<div class="about panel" id="about">

	<nav class="nav nav-tabs">
		<strong><a href="#home">Alex Shive</a></strong>
		<ul>
			<li><a href="#about">About Me</a></li>
			<li><a href="#work">Work Experience</a></li>
			<li><a href="#resume">Resume</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>

	<h2>About Me</h2>

	<div class="container">
		<div class="col-sm-4">
			<div class="me">
				<img src="/images/me.jpg" />
			</div>
		</div>
		<div class="col-sm-8">
			<p>I'm a bay area resident, a graduate from Cal State East Bay with a BFA in Graphic Design. I've accumilated over 12 years of experience as a front end developer, web designer, and engineer. I enjoy every moment of coding, problem solving, and working with others. I enjoy challenges and strive to learn new web technology as it evolves.
			</p>
			<p>When I'm not coding into the late hours of the night, I'm either swimming, biking, bowling, traveling, or sitting down with a good book and a cup of coffee.</p>
		</div>


	<div class="skills">
	  <div class="skill col-sm-4">
		<span class="browser"></span>
		<h4>Front end development</h4>
		<ul>
		  <li>HTML 5</li>
		  <li>CSS/SASS/LESS with Bootstrap and Foundation</li>
		  <li>Javascript/AngularJS/jQuery</li>
		  <li>Adobe Creative Suite CS5</li>
		  <li>Grunt/Bower/Yo</li>
		  <li>RequireJS</li>
		  <li>Compass, Bootstrap & Foundation Frameworks</li>
		</ul>
	  </div>
	  <div class="skill col-sm-4">
		<span class="code"></span>
		<h4>Back end programming</h4>
		<ul>
		  <li>PHP</li>
		  <li>MySQL</li>
		  <li>mongoDB</li>
		  <li>NodeJS</li>
		  <li>Git & Perforce</li>
		  <li>Wordpress Template</li>
		</ul>
	  </div>
	  <div class="skill col-sm-4">
		<span class="analytics"></span>
		<h4>Additional experience</h4>
		<ul>
		  <li>Responsive design with full browser support</li>
		  <li>API development</li>
		  <li>iOS/Android App development</li>
		</ul>
	  </div>
	</div>


	</div>
	<div class="bg"></div>
</div>