<div class="intro">
	<div class="container">
		<div class="col-sm-4">
			<h1><a ng-href="#/">Alex Shive</a></h1>
			<ul>
				<li>Web developer</li>
				<li>App coder</li>
				<li>Coffee drinker</li>
			</li>
		</div>
		<div class="col-sm-8">
			<a class="btn btn-lg" ng-href="#/about"><span class="genericon genericon-user"></span> About Me</a>
			<a class="btn btn-lg" ng-href="#/projects"><span class="genericon genericon-summary"></span> Projects</a>
			<a class="btn btn-lg" ng-href="#/resume"><span class="genericon genericon-show"></span> View Resume</a>
		</div>
	</div>
</div>