<!doctype html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Alex Shive</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.tmp) styles/style.css -->
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="styles/style.css">
	<!-- endbuild -->
  </head>
  <body>

	<main>

		<div class="intro home" id="home">
			<div class="start">
				<h1>Alex Shive</h1>
				<h2>Front-end Developer</h2>
				<h3>Based in San Francisco, California</h3>
				<div class="launch">
					<ul>
						<li class="col-sm-3"><a href="#about"><i class="fa fa-male"></i> About</a></li>
						<li class="col-sm-3"><a href="#work"><i class="fa fa-briefcase"></i> Clients</a></li>
						<li class="col-sm-3"><a href="#resume"><i class="fa fa-file-text"></i> Resume</a></li>
						<li class="col-sm-3"><a href="#contact"><i class="fa fa-phone"></i> Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="bg" data-echo-background="/images/bg-sf.jpg"></div>
		</div>


		include "about.html"
		include "projects.html"
		include "resume.html"
		include "contact.html"

	</main>

	<!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/echojs/dist/echo.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
  
	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<!-- endbuild -->

</body>
</html>
