<div class="projects panel" id="work">
	
	<h2>Companies I've worked with in the past</h2>

	<div class="container">
		<div class="col-sm-4 col-xs-6">
			<img src="/images/work/thumb/intuit.jpg" />
		</div>
		<div class="col-sm-4 col-xs-6">
			<img src="/images/work/thumb/myfico.jpg" />
		</div>
		<div class="col-sm-4 col-xs-6">
			<img src="/images/work/thumb/reputationdefender.jpg" />
		</div>
		<div class="col-sm-4 col-xs-6">
			<img src="/images/work/thumb/justjennette.jpg" />
		</div>
		<div class="col-sm-4 col-xs-6">
			<img src="/images/work/thumb/ohanadance.jpg" />
		</div>
		<div class="col-sm-4 col-xs-6">
			<img src="/images/work/thumb/homestead.jpg" />
		</div>
	</div>
	<div class="bg"></div>
</div>