<div class="resume panel" id="resume">

	<h2>Resume</h2>

	<div class="container">

		<div class="download">
			<a href="#">Download Word Document</a>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<h4>July 2015 – Current</h4>
				<h5>Splunk, San Francisco, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Worked with developers to build out an nginx and NodeJS system</li>
					<li> Created a proof of concept dashboard interface using SailsJS, AngularJS Bootstrap, MySQL/mongoDB</li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<h4>Dec 2014 – July 2015</h4>
				<h5>Intuit, Menlo Park, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Worked with designers to build out pages using LESS/HTML/CSS.</li>
					<li> Built components for Adobe CQ5 Content Management System to help marketers build out and edit Intuit product pages.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<h4>May 2014 – Dec 2014</h4>
				<h5>MyFICO, San Jose, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Worked with front end team to create new member dashboard using AngularJS.</li>
					<li> Converted email templates to Velocity templates.</li>
					<li> Applied Omniture tracking with jQuery data binding.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<h4>Sep 2012 – May 2014</h4>
				<h5>Endurance International, Redwood City, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Worked with team to prototype a native based Android/iPhone app. </li>
					<li> Integrated SASS-based stylesheet framework for different responsive designed layouts. </li>
					<li> Onboarded new front-end developers by providing styling guide and best practices.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<h4>Aug 2011 – Sep 2012</h4>
				<h5>Intuit, Menlo Park, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Created a consolidated CSS and Javascript library to be shared across all projects. </li>
					<li> Worked with design team to build versioned prototypes for user testing regularly. </li>
					<li> Independently built a pattern and video library with the Wordpress platform for company wide usage. </li>
					<li> Set up templates customized with HTML, CSS, and Object Oriented Javascript which to help both designer and programmers and serve as a reference for existing designs. </li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<h4>Mar 2008 – Jul 2011</h4>
				<h5>Reputation Defender, Redwood City, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Created an API for automated registrations with a front-end native and javascript interface in combination with an HTML and CSS layout. </li>
					<li> Worked with the marketing department to develop and integrate strategies onto websites to enhance search results REST with PHP.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<h4>Jun 2007 – Mar 2008</h4>
				<h5>TheAutoLog, San Carlos, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Worked directly with managers to design and implement a new website layout.</li>
					<li> Utilized HTML and CSS with PHP backend work to maintain and add features to the site.</li>
				</ul>
			</div>
		</div>
	 
	 	<div class="row">
		 	<div class="col-sm-4">
				<h4>Sep 2005 – Oct 2008</h4>
				<h5>ConsumerGain, San Francisco, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Played key role in the design and layout of advertising landing pages. </li>
					<li> Worked closely with the advertisement team to meet critical deadlines and designed landing pages with high traffic. </li>
					<li> Provided banner advertisements on a weekly basis along with a site update using HTML and CSS for Consumergain.com.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<h4>Jan 2004 – Nov 2005</h4>
				<h5>Dispatch America, San Mateo, CA</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li> Responsible for design, site structure and daily maintenance of a global website. Coding consisted of HTML, Javascript, and CSS.</li>
					<li> Designed marketing brochures, logos and business cards. </li>
				</ul>
			</div>
		</div>
	
	</div>
	<div class="bg"></div>
</div>


